.border {
  border: 1px solid var(--gray-clr-3);
}
.app-heading {
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
}
.todo-form__button {
  padding: 0 2rem;
}
.todo-form__input {
  padding: 0 1rem;
}
.todo-form__button,
.todo-form__input {
  height: 3rem;
  font-size: 1.4rem;
}
.todo-form__button:hover {
  color: var(--white-clr);
  background-color: var(--gray-clr-3);
}
.todo-list {
  max-width: 70rem;
  margin: 2rem auto 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: auto;
  padding: 2rem;
}
.todo-card__inner {
  padding: 2.5rem 1rem 1rem 1rem;
  position: relative;
  height: 100%;
}
.todo-card {
}
.todo-delete-btn,
.todo-edit-btn {
}
.todo-edit-btn {
}
.todo-card__actions {
  position: absolute;
  right: 0;
  top: 0;
  gap: 0.5rem;
}
.svg-icon {
  width: 2rem;
  height: auto;
}
.edit-todo-label {
  font-size: 1.2rem;
  margin: 0 0 0.3rem;
  display: flex;
}
.todo-card__inner--edit {
  padding: 1.5rem;
}
