.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid var(--gray-clr-3);
  border-radius: 5px;
}
.app-heading {
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.todo-form__button {
  border: 1px solid var(--gray-clr-3);
}
